page-home {
    ion-card.cards-list-h ion-card-header {
        color: map-get($colors, primary);
        
      }
      ion-list.cards-list button {
        border-style: solid;
        border-width: 1px;
        
      }
      
}
